# Git
.git/
.gitignore
.github/

# IDE
.project
.idea/
*.tmproj

# Common backup files
*.swp
*.bak
*.tmp
*~

# Cortex ignore
docs/
tools/
ct.yaml
ci/
README.md.gotmpl
.prettierignore
CHANGELOG.md
MAINTAINERS.md
LICENSE
Makefile
renovate.json

